.header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1100px;
    height: 293px;
    background-color: aliceblue;
} 
.header-navigation {
    width: 391.48px;
    height: 22px;
}

.header-position{
    position:relative;
    display:flex;
    top: 133px;
    left: 50px;
}

.header_links-list{
    list-style: none;
    display: flex;
    gap: 32px;

}


.header_links-list-item {
    list-style: circle;
    font-size: 18px;
    font-family:'Raleway',  Arial, sans-serif;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.text-link{
    text-decoration: underline;
}

.header_link_active{
    text-decoration: none;
}

.header-center {
    display: flex;
    position:absolute;
    top: 92px;
    left: 870px;

}
.logo{
    width: 148px;
    height: 105px;
}

.header-address {
    position:relative;
    width: 240px;
    height: 98px;
}

.header-address-contact{
    display:block;
    position: relative;
    top:95px;
    right:50px;
    line-height: 24.3px;
    font-size: 18px;
    font-style: normal;
    display: block;
}

.contact{
    text-decoration: underline;
}

.main{
    height: 2375px;
    width: 1052;
}

.cover{
    display:flex;
    width: 1100px;
    height: 757px;
    position:relative;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.add_pic{
    width: 1100px;
    height: 757px;
}

.title-cover{
    position: absolute;
    top: 165px;
    left:50px;
    width: 1000px;
    height: 385px;
}

.cover-title{
    display: flex;
    z-index: 2;
    color: white;
}

.first-word{
    height: 115px;
    width: 286px;
    font-weight: 700;
    font-style: bold;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 114.99999999999999%;
    color: rgba(255, 255, 255, 1);
    z-index: 2;
    font-family:'Raleway',  Arial, sans-serif;

    position: absolute;
}

.second-word{
    height: 115px;
    width: 339px;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 114.99999999999999%;
    color: rgba(255, 255, 255, 1);
    z-index: 2;
    font-family:'Raleway',  Arial, sans-serif;
    position: absolute;
    right: 330.5px;
    top: 140px;
}

.third-word{
    height: 115px;
    width: 387px;
    font-style: Bold;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 114.99999999999999%;
    color: rgba(255, 255, 255, 1);
    z-index: 2;
    font-family:'Raleway',  Arial, sans-serif;
    position: absolute;
    top: 270px;
    right: 0px;
}


.description{
    position: absolute;
    top: 656px;
    left:50px;
    width: 1000px;
    height: 51px;
    z-index: 2;
}

.button{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 256px;
    height: 51px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
}

.button-text{
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    font-style: medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.text-color-cover{
    color: white;
   
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

.text-span{
    text-transform: uppercase;
    font-family:'Raleway',  Arial, sans-serif;
    font-size: 22px;
    word-spacing: 18px;
    position: relative;
    top: 11px
}

.lots{
    width: 1052px;
    height: 723px;
    position: relative;
    top: 180px;
    left: 24px;
}

.lots-title{
    display: flex;
    height: 47px;
    width: 121px;
    position: relative;
    left: 37px;
}

.lots-title-style{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', Arial, sans-serif;
}

.lots-pic{
    display: grid;
    grid-template-columns: repeat(3, 334px);
    gap: 25px;
    position: relative;
    top: 25px;
}

.card{
    position: relative;
    height: 596px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-to-lots{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.top-lots-text{
    display: flex;
    height: 82px;
    width: 254px;
    position:absolute;
    top: 48px;
    left: 40px;
    z-index: 2;
    color:  rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;

}

.main-lots-text-first{
    color:  rgba(255, 255, 255, 1);
    display: flex;
    height: 144px;
    width: 254px;
    position: absolute;
    bottom: 48px;
    left: 40px;
    z-index: 2;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.main-lots-text-second{
    color:  rgba(255, 255, 255, 1);
    display: flex;
    height: 360px;
    width: 254px;
    position: absolute;
    bottom: 48px;
    left: 40px;
    z-index: 2;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

}

.main-lots-text-third{
    color:  rgba(255, 255, 255, 1);
    display: flex;
    height: 264px;
    width: 254px;
    position: absolute;
    bottom: 48px;
    left: 40px;
    z-index: 2;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.button-learn-more{
    display: flex;
    width: 192px;
    height: 25px;
    position: absolute;
    bottom: 0px;
    left: 40px;

}

.learn-more{
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    text-decoration: underline;

}

.about {
    margin-top: 300px;
  }
  
  .about_container {
    display: grid;
    grid-template-columns: 334px repeat(1, 1fr);
    gap: 25px;
    padding: 34px 24px 0px;
  }
  
  .about_logo {
    justify-self: center;
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about_logo_image {
    width: 148px;
    height: 114px;
  }
  
  .about_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 100px;
  }
  
  .title_about {
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
  }
  
  .about_text {
    align-self: flex-start;
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    max-width: 690px;
  }
  
  .text_up {
    padding-top: 76px;
  }
  
  .text_down {
    padding-top: 25px;
  }


.footer{
    display: flex;
    width: 1100px;
    height: 180px;
    margin: 180px 0 0 24px;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts-footer{
    display: flex;
    width: 264.5px;
    height: 98px;
    position: relative;
    left: 26px;
}

.contact-footer{
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}

.address-line-footer{
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}

.footer-nav{
    display: flex;
    text-align: center;
    height: 64px;
    width: 163.9px;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 40px;
    line-height: 21px;
    
}

.footer_links-list{
    list-style: none;
    font-size: 18px;
}

.footer_link_active{
    text-decoration: none;
}

.footer_links{
    text-decoration: underline;
}

.footer-logo{
    display: flex;
    gap: 48px;
    width: 240px;
    height: 48px;
    position: relative;
    right: 70px;

}




